:host ::ng-deep {
  .p-datatable {
    margin-bottom: 1rem;
  }

  .p-dialog .p-field {
    margin-bottom: 1rem;
  }

  .p-dialog label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .p-dialog .p-button {
    margin-right: 0.5rem;
  }
}
