<div class="p-card" *ngIf="project">
  <div class="p-card-header">
    <img [src]="project.photoUrls[0]" alt="Project Image" class="project-image" />
  </div>
  <div class="p-card-body">
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <p><strong>Investors:</strong> {{ project.investorCount }}</p>
    <h3>Project Owner</h3>
    <p>{{ project.projectOwner.username }}</p>
    <button pButton type="button" label="Invest" icon="pi pi-money-bill" (click)="goToPayment()"></button>
  </div>
</div>